* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow-x:clip;
    overscroll-behavior: none;
}

body {
    background: lightyellow;
    height:100vh;
    display: flex;
    flex-direction: column;
}
:root {
    --themecolor:hsl(75, 100%, 44%);
}
::selection {
    background:hsl(330, 100%, 71%);
}
::-webkit-scrollbar {
    width: calc(1ch - 0.25vw);
}

::-webkit-scrollbar-track {
    border-radius: 5%;
    background: var(--themecolor, hsl(75, 100%, 40%));
}
  
::-webkit-scrollbar-thumb {
    border: 0.01vw solid rgba(117, 0, 0, 0.178);
    background: whitesmoke;
    border-radius: 5%;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 199, 199);
}

header {
    border: 0.25vw groove white;
    width:100vw;
    height:30vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header>h1 {
    margin:0.25em;
    text-align: center;
    font-size: max(4.25vw, 4.25vh);
    color:white;
    z-index: 1;
    letter-spacing: 0.15ch;
    font-family: 'Oswald';
}
header>h1>span {
    padding:0 0.25em;
    border: max(0.1vw, 0.25vh) dashed var(--themecolor, hsl(75, 100%, 40%));
    letter-spacing: 0.3ch;
}
.background {
    position:absolute;
    width:100%;
    right:0;
    height:100%;
    background:url("https://media.globalcitizen.org/thumbnails/b1/0d/b10d523f-3877-470b-8624-13602761a902/extreme-poverty-un-explainer-001.jpg__1600x900_q85_crop_subsampling-2.jpg") no-repeat;
    background-size: 100% 100%;
    filter:blur(3px);
    -webkit-filter: blur(3px);
}
main {
    align-items: center;
    flex-direction: column;
    display: flex;
    width:100vw;
    position:relative;
    height: 70%;
}
main>h2 {
    align-self: flex-start;
    margin: 1.25% 2%;
    position: relative;
    font-family: 'Oswald';
    font-size:3.5vw;
}
.infowrapper {
    overscroll-behavior-y: auto;
    border-left: 0.01vw dashed var(--themecolor, hsl(75, 100%, 40%));
    overflow-y: scroll;
    width: 70%;
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: flex-start;
}
.info {
    font-size: 2vh;
    line-height: 2.5ch;
    font-family: "quicksand";
    text-indent: 4ch;
    text-align:left;
    margin: 3vh 2em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: hsla(108, 37%, 75%, 0.931);
    position: absolute;
    bottom: -7vh;
    height:8vh;
    align-items: center;
    text-align: center;
    width: 100vw;
}
footer::before {
    align-items: center;
    top: 0%;
    position: absolute;
    content: " ";
    left: 0;
    width: 100vw;
    background: hsl(0, 0%, 58%);
    height: 0.25vh;
    border-radius: 100%;
}
footer>h2 {
    height: min-content;
    color: darkblue;
    font: bold 2vw arial;
}
footer>h2>a {
    text-shadow: 0 0 10px rgb(88, 87, 17), 0 0 4px black;
    text-decoration: none;
    color: orange;
    text-decoration: underline;
}
footer>a {
    height: 8vh;
}
footer>a:hover, footer>*>a:hover {
    color:lightsalmon;
}

footer>a>img {
    height: 100%;
}

@media only screen and (max-width:400px) {
    header>h1 {
        font-size:10vw;
    }
    main>h2 {
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 100%;
        text-align: center;
        font-size:8vw;
    }
    .info {
        text-align: center;
        text-indent: 0;
    }
    footer>h2 {
        font-size: 4vw;
    }
    footer>a {
        display: none;
    }
}
